@charset "utf-8";

/* クリック時の挙動制御 */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --basic-color: green;
  --point-color: brown;
  --highlight-bg: yellow;
}

a {
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

a:hover {
  opacity: .6;
}

a:active {
  box-shadow: 0 1px black;
  transform: translateY(3px);
}

img {
  vertical-align: bottom;
  border: none;
}

h2 {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

th,
td {
  border: 1px solid black;
}

/* トップへボタン */

.top {
  border-radius: 50%;
  background: #fff;
  border: 3px dashed black;
  color: #000;
  font-weight: 900;
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  padding-top: 5px;
  box-sizing: border-box;
  position: fixed;
  bottom: 15px;
  right: 15px;
}


/* head */

header {
  width: 100%;
  background: var(--basic-color);
  height: 100px;
  display: flex;
  justify-content: center;
  gap: 15%;
  align-items: center;
}

header h1 {
  color: var(--point-color);
  background: var(--highlight-bg);
  width: 320px;
  font-size: 40px;
  line-height: 60px;
  border-radius: 8px;
  font-weight: bold;
  height: 60px;
  text-align: center;
  box-sizing: border-box;
}

/* main */

/* 共通スタイル */
.guide a,
.main table {
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
}

.main {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}


.main-content {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.main table {
  table-layout: fixed;
  width: 90%;
  padding: 4px;
  margin-top: 40px;
  font-size: 18px;
}

.main table td {
  padding: 8px;
}

.main-td {
  width: 30%;
  font-weight: bold;
  background: pink;
}

.main img {
  width: 90%;
  margin: 40px auto 0;
  object-fit: fill;
}

/* メインの右側 */

.main-right {
  width: 50%;
}

.guide-top {
  margin: 40px auto 20px;
  font-weight: bold;
}

.guide {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.guide a {
  text-decoration: none;
  display: block;
  font-size: 20px;
  width: 38%;
  background: var(--basic-color);
  border-radius: 8px;
  color: #fff;
  padding: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 空き情報 */

.vacant h2,
.vacant p,
.vacant td,
.vacant-p {
  text-align: center;
}

.vacant h2 {
  margin-top: 30px;
  font-weight: bold;
}

.vacant p {
  margin-top: 10px;
  font-size: 14px;
}

.vacant table {
  width: 90%;
  table-layout: auto;
  margin-top: 20px;
  font-size: 20px;
}

.vacant table td {
  height: 80px;
  font-size: 24px;
}

.vacant-p {
  padding: 20px;
  background: lightgrey;
  font-size: 30px;
}


/* お知らせ */

.fixed-sidebar {
  position: absolute;
  top: 120px;
  left: 0;
  width: 170px;
  padding: 10px;
  background-color: #fff;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #ccc;
}

.pdf-link {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 10px;
  margin-top: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 6px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.pdf-icon {
  width: 32px;
  height: 32px;
}

.pdf-text {
  font-size: 20px;
  line-height: 1.4;
}


/* 事業所の目的 */

.aim h2,
.features h2 {
  font-size: 35px;
  font-weight: 900;
  border-radius: 8px;
  border-bottom: 8px solid lime;
  width: 70%;
  margin: 100px auto 0;
  height: 70px;
  padding: 8px;
}

.circle-mark {
  background: var(--point-color);
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
  flex-shrink: 0;
  text-align: center;
  font-weight: bold;
}

/* サイズや色など個別スタイルは別クラスで */
.aim-mark {
  color: #740000;
  width: 40px;
  height: 40px;
  font-size: 30px;
  line-height: 40px;
  margin-right: 20px;
}

.point {
  color: #fff;
  width: 90px;
  height: 90px;
  font-size: 20px;
  line-height: 25px;
  padding-top: 25px;
}

/* 共通アニメーション */
.circle-mark::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: spin 6s infinite linear;
}

.aim-mark::after {
  outline: 10px dashed var(--highlight-bg);
  width: 40px;
  height: 40px;
}

.point::after {
  outline: 18px dashed var(--highlight-bg);
  width: 90px;
  height: 90px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.aim-box {
  width: 60%;
  margin: 0 auto;
}

.aim p {
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
  padding: 4px;
}

.aim section {
  display: flex;
  margin-top: 40px;
}


/* デイの特徴 */

.features {
  margin: 40px auto 0;
}

.feature {
  margin: 40px auto 0;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.desc,
.desc p,
.desc h3 {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.desc {
  width: 50%;
  height: 150px;
}

.desc h3 {
  font-size: 24px;
  margin-top: 20px;
}

.desc p {
  line-height: 30px;
}

h3+p {
  margin-top: 30px;
}

/* カルーセル共通設定 */
.pic1,
.pic2,
.pic3 {
  width: 250px;
  height: 200px;
}

.pic1,
.pic3 {
  overflow: hidden;
  position: relative;
}

.feature img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.pic1 ul,
.pic3 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  transition: transform 0.5s ease;
}

.pic1 li,
.pic3 li {
  height: 100%;
  min-width: 100%;
}

.nav-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.nav-container button {
  background: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* リンク一覧 */

.cooperation {
  width: 80%;
  margin: 80px auto 0;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 64px;
}

.cooperation img {
  width: 350px;
  height: 90px;
  margin-top: 20px;
}


.link {
  width: 80%;
  margin: 10px auto 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.link img {
  object-fit: contain;
  margin-top: 48px;
  width: 250px;
  height: 80px;
}

.link p {
  margin-top: 8px;
}

.corporation {
  font-size: 12px;
}

/* 地図 */

.location-map {
  margin: 100px auto 0;
  padding-top: 100px;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

/* フッター */

footer {
  height: auto;
  background: rgb(80, 0, 0);
}

footer p {
  text-align: center;
  color: #fff;
  padding: 50px;
}

/* メディアクエリ― */

@media (max-width: 1000px) {
  body {
    font-size: 16px;
    padding: 0 20px;
  }

  /* ヘッダー */
  .head h1 {
    text-align: center;
    font-size: 1.6em;
  }

  /* メイン */
  .main,
  .main img,
  .main-content,
  .main-right,
  .aim-box,
  .feature {
    width: 90%;
    margin: 20px auto 0;
    display: block;
  }

  .main table .vacant table {
    width: 100%;
    font-size: 14px;
  }

  .main table td,
  .main table th {
    padding: 10px;
  }

  .guide {
    display: block;
  }

  .guide a {
    margin: 10px auto 0;
    font-size: 16px;
  }

  /* 運営規定・重要事項説明書 */
  .fixed-sidebar {
    position: static;
    margin: 40px auto 0;
    text-align: center;
  }

  /* 事業所の目的 */
  .aim-box {
    width: 70%;
  }

  .aim-box section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .aim-box p {
    margin-top: 20px;
    font-size: 16px;
  }

  /* 事業所の目的 */
  .feature h3,
  .point,
  .desc,
  .pic1,
  .pic2,
  .pic3 {
    margin: 40px auto 0;
  }

  /* リンク一覧 */
  .cooperation,
  .link {
    display: block;
    text-align: center;
    margin-top: 40px;
  }

  /* 地図 */
  .map1 {
    display: none;
  }

  .map2 {
    width: 100%;
    height: 350px;
  }

  iframe {
    width: 100% !important;
    height: auto;
  }

}